{% extends 'base.html' %}
{% load static %}


{% block title %}
Searched Blog
{% endblock title %}


{% block content %}
<section class="blog-posts grid-system">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-8">
                <h4 class="text-center">{{blogs.count}} results found for {{search_key}}</h4>
            </div>
        </div>
        {% if blogs.count > 0 %}
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        {% for blog in blogs %}
                        {% include 'blog_card.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include 'sidebar.html' with blogs=recent_blogs %}
        </div>
        {% else %}
        Blog Not Found
        {% endif %}
    </div>
</section>


{% endblock content %}