{% extends 'base.html' %}
{% load static %}


{% block title %}
Tag Blogs
{% endblock title %}



{% block content %}


<section class="blog-posts grid-system">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            {% if blogs.count > 0 %}
            {% for blog in blogs %}
            {% include 'blog_card.html' %}
            {% endfor %}
            {% else %}
            No blogs found for tag :<b> {{ tag.title }}</b>
            {% endif %}
            {% include 'pagination.html' %}
          </div>
        </div>
      </div>
      <!-- sidebar -->
      {% include 'sidebar.html' %}
    </div>
  </div>
</section>


{% endblock content %}